{% extends 'base.html.twig' %}

{% block title %}
	Edition du produit:
	{{ product.name }}

{% endblock %}


{% block body %}
	<h1>Editer Produit</h1>
	{{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(formView) }}
	
	{# {{ form_widget(formView) }} #}

	<div class="row align-items-center">
		<div
			class="col">
			{{ form_row(formView.name) }}	
			{{ form_row(formView.price) }}
		</div>
		<div class="col">
			{{ form_row(formView.picture) }}
			{{ form_row(formView.category) }}
			{{ form_row(formView.shortDescription) }}
		</div>

	</div>
	<button class="submit btn btn-info mt-2">
		<i class="fas fa-save"></i>
		Valider</button>
	{{ form_end(formView) }}


{% endblock %}
