<div class="col">
	<div class="card border-{{color}} mb-3 mx-auto text-center" style="max-width: 20rem;">
		<div class="card-header bg-{{background}}">{{categorie}}</div>
		<div class="card-body">
			<h4 class="card-title">{{titre}}</h4>
			<i class="{{icone}} fa-3x"></i>
			<p class="card-text">
				{{texte}}
			</p>
		</div>
	</div>
</div>
